{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/fotoPersonal.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Víctor Rodríguez</h2>   
        <p>Me apasiona enfrentar nuevos
desafíos y aprender en el trabajo.
Soy un buen colaborador y
disfruto trabajar en equipo para
alcanzar nuestros objetivos. Si
necesito ayuda, no tengo
problemas en pedirla y creo que
la honestidad y la comunicación
abierta son clave para lograr el
éxito en equipo.
</p>

<p><a href="{% static 'core/CV/CV_VictorRodriguez.pdf' %}" download="Curriculum" target="_self"> Descarga mi CV </a>
    </div>
</div>
{% endblock %}
