{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Aquí dejo mis datos de contacto, por si necesitas contactar conmigo, además, tienes mi linkedin y github en la parte inferior.</p>
        <br>
        <p><b>Teléfono:</b> +34 600 008 410</p>
    </div>
</div>
{% endblock %}

